@tailwind base;
@tailwind components;
@tailwind utilities;
.homebg {
    background-image: url(../public/homebg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.2); /* 0.2 represents the opacity (20%) */
}
